@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@200&family=Poppins:wght@400;500;600;700&family=Rubik:wght@600&display=swap');
*{padding: 0; margin: 0;  box-sizing: border-box; font-family: 'Rubik', sans-serif;}
a,li{
    text-decoration: none;
    list-style: none;}
:root{
    --one-color: #34b0be;
    --two-color: #a80221;
    --three-color:#81818185;}
img{

    max-width: 100%;}
html{
    font-size: 16px;
    background-color: #00606b5d;}   
.c2{
    color: var(--two-color);
    font-size: 2.3rem; }
.c3{
    color: var(--three-color) ;
}
/* valores predeterminados------------------------------------------ */

#burger{
    transform: scale(3);
    z-index: 100;
    position: absolute;
    right: 2.5rem;
    top: 1.8rem;
    opacity: 0;
    cursor: pointer;}
input#burger:checked ~label .menu.superior{
    background-color: black;
    transform: translateY(8px) rotate(-45deg) ;
    transition: all 100ms ease-in-out;}
input#burger:checked ~label .menu.medio{
    width: 0;}
input#burger:checked ~label .menu.inferior{
    background-color: black;
    transform: translateY(-8px) rotate(45deg);
    transition: all 100ms ease-in-out;}   
input#burger:checked~.hamburgesa{
    transition: all 300ms ease-in-out;
    right: 0;}


.barra{
    margin-bottom: 3.7rem;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;}
.barra2{
    margin-top: 1rem;
    display: none;
    justify-content: flex-end;}
.barra2 a{ 
    color: black; margin: 2.2rem;}
.barra2 a:hover{
    color: var(--one-color);
    border-bottom:1px solid  #13646d;}
.hamburgesa{
    position: fixed;
    top: 0;
    right: -80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100vh;
    background-color: rgb(141, 202, 255);
    opacity: 0.9;}

.menu{
    z-index: 5;
    position: fixed; 
    right: 1rem;
    width: 43px;
    height: 4px;
    background-color: var(--one-color);
    margin: 10px;   
    border-radius: 10px;  
    cursor: pointer;}
.superior{
    top: .8rem;}
.medio{
    top: 1.3rem;}
.inferior{
    top: 1.9rem;}

.burger{
    display: flex;
    flex-direction: column;
    text-align: center;}
.burger a, .burger li{
    padding-bottom: 5px;
    align-self: center;
    margin-top: 4rem;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    width: 90%;}
.burger{
    margin-top: 2rem;}
.burger li:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);}

/* barra menus de navegacion-------------------------------------- */

.vector1{
    z-index: -1;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 6.7rem;}


.perfil{
    display: flex;
    width: 100%;
    height: auto;}

.vector-perfil{
    margin-top: 4rem ;
    width: 50%;
    max-width: 50%;
    height: auto;}

.columna-perfil{
    margin-top: 1rem;
    margin-left: .3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .3rem;}

.columna-perfil h2{
    font-size: 1.2rem;}
.columna-perfil span{
 font-size: .8rem;
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

hr{
    width: 80%;
    opacity: 0.5;}

.contactame{
    margin-top: .5rem;
    padding: .5rem;
    background-color: var(--two-color);
    width: 10rem;
    display: flex;
    align-items: center;
    border-top-right-radius: 3rem ;
    border-bottom-right-radius:3rem ;}
.contactame img{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 15%;  }
.contactame:hover{
    background-color: #47000d;}

.iconos-redes a {
    width: 2.5rem;
    padding: .3rem;
    margin: 0.7rem .7rem 0.7rem 0.4rem;
    border-radius: 5rem;
    border: 2px solid var(--one-color);
    display: flex;
    justify-content: center;
    cursor: pointer;}
.iconos-redes a:hover{
    background-color: #13646d;}

/* perfil info -------------------------------------- */



main{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.servicios-nav{
    height: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
}

.arrows{
    padding: 0.5%;
    margin: 1%;
    width: 6%;
    align-self: center;
    border-radius: 90%;
    background-color: #81818185;
    cursor: pointer;

}
#servicios{
    margin-right: 5%;
    margin-left: 2%;
}
.arrows img{
    margin: auto;
    width: 95%;
}

.servicios-tarjetas{
    width: 98%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.tarjetas{
    padding: 1%;
    border-radius: 1rem;
    background-color: rgba(246, 246, 246, 0.698);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.102),
                1px 1px 10px rgba(0, 0, 0, 0.102),
                1px 1px 10px rgba(0, 0, 0, 0.102),
                1px 1px 10px rgba(0, 0, 0, 0.102)
    ;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
   gap: 10px;
}

.tarjetas p{
    color: rgba(31, 31, 31, 0.459);
    text-align: center;
    font-size: 100%;
    margin-bottom: 2rem; 
}

.tarjetas:nth-child(3),
.tarjetas:nth-child(4){
    display: none;
}


.sobre-mi{
    margin-top: 2rem;
    padding: 1rem 2rem 1rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vector2{
    display: flex;
}
.vector2 img{
    width: 20%;
    z-index: -10;
    position: absolute;
    right: 0;   
}

.vector2 p{
    font-size: 1rem;
    
}

.icons{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.icon-exp{ 
    margin-left: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

}
.icon-exp img{
    width: 60%;
}

.icon-exp h3, .habilidades h3, .mi-portafolio h5, .cc h5{
    font-size: 1rem;
}


.icon-exp p, .cc p{
    font-size: .8rem;
}

.habilidades{ 
    padding-left: 1.2rem;
    margin-top: .5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 50%);
    margin-bottom: 18rem;
    
}
.habilidades h2{
    align-self: flex-end;
}

.habilidad1,
.habilidad2,
.habilidad3,
.habilidad4{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: -4%;
}

.porcentaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    justify-content: flex-start;
    width: 100px;
    height: 50%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
    color: var(--one-color);
    
}
.porcentaje hr{
    align-self: flex-start;
    height: 5px;
    position: relative;
    margin-bottom: 1rem;
    top: 0;
    left: 0;
    opacity: 1;
    border-color: var(--one-color);
    background-color: var(--one-color);  
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.one,
.two{
    width: 89%;}
.three{
    width: 80%;}
.four{
      width: 57%;}


      
.mi-portafolio{
    width: 100%;
    flex-direction: column;
    display: flex;
    padding-left: 5%;
   
}

.mi-portafolio h5{
    text-align: left;
    margin-left: 4%;
}

.w{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.work{
    background-color: white;
    width: 30%;
    margin: 1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.157);
    padding-bottom: 3%;
    
}
.work img{
    width: 100%;
    
}

.work:nth-child(3),
.work:nth-child(4){
    display: none;
}

.contacto{
    width: 100%;
    margin-top: 5%;
    padding-left: 3.5%;
}

.cc{
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: flex-start;
}

.cell-email img{
    align-self: center;
    margin-bottom: 2%;
}

.cell-email{
    margin: 5%;
    width: 55%;
    background-color: white; 
    text-align: center;
    padding: 2%;
}






@media screen and (max-width:350px){
    .contactame{
        margin-top: 0.7rem;
        width: 80%;
        padding: 0.4rem;
    }
    .contactame span{
       font-size: .6rem;
    }

}

@media screen and (min-width:620px){
    .c2{
        font-size: 2rem;
    }
    .columna-perfil h1, #servicios{
        font-size: 4rem;
    }
    .tarjetas:nth-child(3),
    .tarjetas:nth-child(4){
    display: flex;
}

.porcentaje,  .habilidades h3{
    font-size: 2rem;
}

.icon-exp p, .icon-exp h3, .mi-portafolio h5{
    font-size: 1.3rem;
}

.mi-portafolio{
    margin-top: 15%;
}



}
@media screen and (min-width:780px){
    .c2{
        font-size: 2.6rem;
    }
    .columna-perfil h1, #servicios{
        font-size: 4.6rem;
    }
    .iconos-redes a {
        width: 4rem;
        padding: 0.4rem;
    }
    .iconos-redes img{
        width: 90%;
    }
    .contactame span{
        font-size: 1.5rem;
    }
    .contactame{
        margin-top: 2rem;
        width: 60%;
        padding: 0.7rem;
    }
    .tarjetas{
        width: 30%;
        gap: 1rem;
        margin: 2%;
    }
    .servicios-tarjetas{
        justify-content: space-between;
    }
    .tarjetas:nth-child(1){
        margin-left: 3rem;
    }
    .tarjetas:nth-child(4){
        margin-right: 3rem;
    }
    .vector2 p, .habilidades h3, .icon-exp p, .icon-exp h3, .mi-portafolio h5{
        font-size: 1.5rem;   
    }
    .porcentaje,  .habilidades h3{
        font-size: 3rem;
    }
    
.work:nth-child(3),
.work:nth-child(4){
    display: block;
}
.work{
    width: 25%;
}
    
}
@media screen and (min-width:949px){
    .c2{
        font-size: 3.5rem;
    }
    .columna-perfil h1, #servicios{
        font-size: 6.5rem;
    }

}


@media screen and (min-width:950px){
    .barra2{ display: flex; }
    .hamburgesa, .menu, #burger{ display: none;}
    .vector1{width: 100px;}

    .iconos-redes a{
        margin: 2rem 2rem 2rem 0.5rem;
    }
    .contactame{
        margin-top: 2rem;
        width: 60%;
        padding: 0.7rem;
    }
    .contactame span{
        font-size: 2rem;
    }

    .vector1{
        width: 10rem;
    }
    .sobre-mi{
        padding-right: 15rem;
        padding-left: 2.4rem;
    }
    .vector2 img{
        width: 20%;
        right: 2.5rem;
           
    }
    .vector2 p, .icon-exp p, .icon-exp h3 {
        font-size: 2rem;   
    }
    .habilidades{
        padding-left: 2rem;
    }

    .habilidad1,
    .habilidad2,
    .habilidad3,
    .habilidad4{
        padding-left: 8%;
    }
    .porcentaje{
        height: 55%;
        width: 150px;
    }
    .mi-portafolio {
        padding-left: 3%;
    }
    .cell-email{
        width: 30%;
    }

}